<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://59.110.161.163:3306/javaeeproject</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.mjc.javaee.Entity.Department"/>
      <mapping class="com.mjc.javaee.Entity.Employee"/>
      <mapping class="com.mjc.javaee.Entity.Position"/>
      <mapping class="com.mjc.javaee.Entity.Recruitment"/>
      <mapping class="com.mjc.javaee.Entity.Resume"/>
      <mapping class="com.mjc.javaee.Entity.User"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>